# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

# GitHub recommends pinning actions to a commit SHA.
# To get a newer version, you will need to update the SHA.
# You can also reference a tag or branch, but the action may change without warning.

name: Publish Docker image

on:
  workflow_dispatch:

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    strategy:
      matrix:
        os: ["noble", "jammy", "bookworm-slim"]
        dotnet-version: ["10.0", "8.0"]
        exclude:
          - os: "jammy" # .NET 10.0 is not supported on Ubuntu 22.04
            dotnet-version: "10.0"
          - os: "bookworm-slim" # .NET 10.0 is not supported on debian bookworm
            dotnet-version: "10.0"
          - os: "bookworm-slim"
          - os : "jammy"
          - os: "noble" # .NET 8.0 is not supported on noble
        include:
          - os: "noble"
            dotnet-version: "10.0"
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images:  ${{ secrets.DOCKER_HUB_USERNAME }}/mcr-aspnet

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Runtimes/mcr-aspnet-${{ matrix.os }}.Dockerfile
          build-args: |
            DOTNET_VERSION=${{ matrix.dotnet-version }}
          push: false
          tags: |
            abcpdf/mcr-aspnet:${{ matrix.dotnet-version }}-${{ matrix.os }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: index.docker.io/abcpdf/mcr-aspnet
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
